# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches
.ipynb_checkpoints/
*.log

# Virtual environment
.venv/
env/
venv/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Data files
*.csv
*.json
*.xlsx
*.db
data/
models/
*.h5

# System files
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml

# VS Code
.vscode/

# Configs
.env
*.env
